@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inknut+Antiqua&family=Roboto+Condensed:wght@300&display=swap');

:root {
    --header_h1_spacing: 20pt;
    --header_h2_spacing: 5pt;
    --header_ribbon_width: 10pt;
    --indent_1: 70pt;

    --header_line_w : 2pt;
    --header_h1_font_s : 40pt;
}

body {
    padding: 0pt;
    background-image : url(/img/resources/test_header_ribbon.jpg)
}

header {
    margin: 0pt;
    padding: 0pt;
    background-color: black;
    background-image: url(./img/resources/test_header_ribbon.jpg);
    background-position: center;
    background-repeat: none;
}

main {
    margin: 0 auto;
    padding: 0;
}

header div.ribbon {
    color: white;
    overflow-x: hidden;
    margin: 0pt var(--header_ribbon_width);
    padding: 2pt 0pt;
    font-size: calc(var(--header_ribbon_width) - 2pt);
}

header div.v_ribbon_container {
    padding: 0pt;
    top:0pt;

    height: calc(var(--header_ribbon_width) * 2 + var(--header_h1_spacing) * 2 + var(--header_h2_spacing) * 2 + 2pt + 40pt + 14pt);

    width: var(--header_ribbon_width);
    position: absolute;
    overflow: hidden;
}

header div.v_ribbon_container.left {
    
}
header div.v_ribbon_container.right {
    
}

header div.ribbon.vertical {
    color:red;
}

header div.ribbon.vertical.left {
    rotate: -90deg;
}
header div.ribbon.vertical.right {
    rotate: 90deg;
    
}

header h1 {
    padding: var(--header_h1_spacing) var(--indent_1);
    padding-bottom: var(--header_h2_spacing);
    font-family: 'Inknut Antiqua', serif;
    font-size: 40pt;
    color: white;
}

header h2 {
    padding: var(--header_h2_spacing) var(--indent_1);
    padding-bottom: var(--header_h1_spacing);
    font-size: 14pt;
    color: lightgrey;
}

header h2 .dot {
    display: inline-block;
    margin: 0pt 5pt 0pt 8pt;
    height : 5pt;
    width: 5pt;
    border-radius: 5pt;
    background-color: lightgrey;
}

.header_line {
    height: var(--header_line_w);
    border-radius: var(--header_line_w);
    margin: 0pt var(--indent_1);
    margin-right: 50%;
    background-color: white;
}

footer {

    color : white;
    background-color: darkgray;
    padding: 3em;
    padding-left: 5em;
    height: 15em;
}

footer span {
    display: inline-block;
    width: calc((100% - 8em)/3);
}

footer p {
    padding-top: 2em;
    
    margin: 2em 3em 0 0;
    
    border-style: solid;
    border-width: 1pt 0pt 0pt 0pt;
    border-color: white;
}