:root {
    --cover_rows_padding: 5pt;
}

main {
    
}

.project_row {
    text-align: center;

    min-width: 50pt;
    min-height: 70pt;

    max-width: 800pt;
    margin: 0 auto;
    background-color: lightgrey;

    padding: var(--cover_rows_padding) 0pt;

}

.project_cover {
    display: inline-block;

    height: inherit;

    min-width: 100pt;
    min-height: 100pt;

    border-radius: 10pt;

    background-color: black;
    background-position: center;
    background-size: cover;
}
