:root {
    --cover_rows_padding: 5pt;
}

main {
    padding: var(--cover_rows_padding) 0pt;
}

.project_row {
    text-align: center;

    min-width: 50pt;
    min-height: 70pt;

    max-width: 800pt;
    margin: 0 auto;
    background-color: lightgrey;

    padding: var(--cover_rows_padding) 0pt;

}

.project_cover {
    display: inline-block;

    min-width: 100pt;
    min-height: 100pt;

    border-radius: 10pt;

    background-color: black;
}

#test1.project_cover {
    background-color: red;;
    width : 200pt;
}