header {
    min-height: 20em;
}

main {
    padding: 0.5em 0 0 0;
}


h3 {
    color: white;
    text-align: center;
    font-size: 21pt;
    margin: 2em 0 2em 0;
}

img {
    margin: 0 5pt 0 5pt;
    display: block;
    width: calc(100% - 10pt);
    border-radius: 5pt;
}

.row {
    display: block;
    padding: 0.3em 0;
    /*background-color: red;*/
}

.row p {
    padding: 0 0.5em;
    text-align: justify;
}

.split {
    display: grid;
}

.split_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}